
h1 {
    
}

div {
    background: linear-gradient(-45deg, #69c8e7 0%, #49d3b4 100%);
    background: linear-gradient(-45deg, #69c8e7 0%, #49d3b4 100%);
    font-family: 'Source Sans Pro';font-size: 36px;
    background: url(images/Footer-Text.png);
}

